.row
  .col-md-12
    - @rentals.in_groups_of(3) do |group|
      .row
        - group.compact.each do |rental|
          = render rental
%hr
.row
  .col-md-4
    = link_to 'New Rental', new_rental_path, class: 'btn btn-warning btn-lg'

.row
  .col-md-12
    = will_paginate @rentals
