.row
  - @rentals.in_groups_of(3) do |group|
    - group.compact.each do |rental|
      = render rental
%hr
.row
  .col-md-4
    = link_to 'New Rental', new_rental_path, class: 'btn btn-warning btn-lg'
